<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>login</title>
		<link rel="stylesheet" type="text/css" href="/public/home/Css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/public/home/Css/new.css"/>
		<link rel="stylesheet" type="text/css" href="/public/home/Css/g.css"/>
	   <script type="text/javascript" src="/public/common/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/public/common/layerm/layer.js"></script>
        <style>
          body .intcon .int { margin: 0 auto;}
          span.fh {top: 90%;}
        </style>
    </head>
	<body>
        <div class="wapper" id="wapper" style="visibility: visible;">
			


            
        </div>
	</body>

</html>
        
        