 body {
 	background: #ccc;
 }
 
 body .footer {
 	background-color: #ccc;
 }
 body .navbar-header .navbar-brand img {
    width: 180px;
}
body .navbar-header .navbar-brand {
    padding: 15px 0;
}
 body .btn-container {
 	position: relative;
 }
 
 body .cube .button {
 	top: auto;
 	bottom: 0;
 	z-index: 100000;
 }
 
 span.button {
 	bottom: 0;
 	top: -38px;
 	left: 50%;
 	width: 35px;
 }
 
 span.button img {
 	width: 100%;
 }
 
 span.tic {
 	position: absolute;
 	top: 18%;
 	left: 0;
 	width: 100%;
 	font-size: 12px;
 	color: #999;
 	text-align: center;
 }
 
 span.tice {
 	position: absolute;
 	top: 92%;
 	left: 5%;
 	width: 100%;
 	font-size: 12px;
 	color: #999;
 	text-align: left;
 	font-family: 微软雅黑;
 }
 
 span.fz {
 	position: absolute;
 	top: -28px;
 	left: 60%;
 	color: #999;
 	font-size: 15px;
 	font-family: 微软雅黑;
 }
 
 img#fz {
 	width: 20px;
 }
 
 span.fh {
 	position: absolute;
 	width: 40px;
 	margin-left: -17.5px;
 	top: 100%;
 	left: 50%;
 }
 
 span.fh1 {
 	position: absolute;
 	width: 40px;
 	margin-left: -17.5px;
 	top: 110%;
 	left: 50%;
 }
 
 .modal-backdrop.in {
 	filter: alpha(opacity=50);
 	opacity: 1;
 	background: #fff;
 }
 
 body .btn-container .row div {
 	width: 30%;
 	float: none;
 	padding: 0;
 	margin: 0;
 	display: inline-block;
 }
 
 body .btn-container .row .col-xs-6 img {
 	width: 60%;
 }
 
 body .navbar-header .navbar-brand {
 	width: 100%;
 }
 
 body .navbar-header .navbar-brand img {
 	float: left;
 }
 
 body .btn-container img {
 	width: 50%;
 }
 
 body .cube .div1 div a img {
 	width: 45%;
 }
 
 a.sm {
 	top: 40%;
 }
 
 a.dh {
 	top: 45%;
 }
 
 a.tz {
 	top: 75%;
 }
 
 a.dh img {
 	width: 45% !important;
 }
 
 a.tz img {
 	width: 45% !important;
 }
 
 img.smimg {
 	width: 65% !important;
 	margin: 0 auto !important;
 }
 
 img.smimg1 {
 	width: 50%;
 	display: block;
 	margin: 6% auto 0 !important;
 }
 
 body .btn-container {
 	width: 100%;
 	padding: 20px 10%;
 }
 
 .bar {
 	position: absolute;
 	bottom: -8%;
 	left: 0;
 	right: 0;
 	text-align: center;
 }
 
 .bar ul {
 	list-style: none;
 	margin: 0 auto;
 	padding: 0;
 }
 
 .bar ul li {
 	display: inline-block;
 	width: 8px;
 	height: 8px;
 	background: #999;
 	border-radius: 50%;
 	margin: 0 2px;
 }
 
 body .btn-container {
 	width: 100%;
 	padding: 10% 10% 8px;
 }
